.unlocked {
  overflow: visible;
}

.locked {
  overflow: hidden;
  overflow-y: hidden;
  overflow-x: hidden;
}

.nav__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  left: 50%;
}

.wrapper {
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  z-index: 2;
}

.padding {
  padding: 5em 0;
}

.ml {
  margin-left: 0.3em;
}

.name {
  font-weight: bold;
}

.money-color {
  color: #50c878;
}

.section-heading {
  text-align: center;
}
.section-heading--title {
  font-size: 2.4rem;
  color: #292d32;
}
.section-heading--text {
  margin-bottom: 1em;
  font-size: 1.6rem;
  color: #1089ff;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.6rem;
  color: #eeeeee;
  background-color: #23374d;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5em;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  transition: background-color 0.3s;
  z-index: 100;
}
.nav__logo {
  font-size: 2.8rem;
  font-weight: bold;
  text-decoration: none;
  color: #eeeeee;
  z-index: 5;
}
.nav__menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  background-color: #23374d;
  translate: -100% 0;
  transition: translate 0.3s;
}
.nav__menu--active {
  translate: 0;
}
.nav__items {
  margin-top: 2.5em;
  text-align: center;
  text-decoration: none;
  color: #eeeeee;
}
.nav__items--contact {
  padding: 1em 2em;
  border-radius: 10px;
  background-color: #1089ff;
}
.nav__bars {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  height: 50px;
  width: 50px;
}
.nav__bars--active .nav__line:nth-child(1) {
  rotate: -45deg;
  translate: 0 8px;
}
.nav__bars--active .nav__line:nth-child(2) {
  opacity: 0;
}
.nav__bars--active .nav__line:nth-child(3) {
  rotate: 45deg;
  translate: 0 -8px;
}
.nav__line {
  height: 3px;
  width: 30px;
  border-radius: 10px;
  background-color: #eeeeee;
  transition: rotate 0.3s, translate 0.3s 0.1s, opacity 0.3s;
}

.header {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 45px;
  padding: 0 1em;
  height: 85vh;
  position: relative;
  background-image: url("../img/houseSmall.jpg");
  background-size: cover;
  background-position: center;
  z-index: 5;
}
.header::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(35, 55, 77, 0.6);
}
.header__title {
  margin-top: 1.2em;
  font-weight: normal;
}
.header__text {
  margin: 2em 0;
  width: 95%;
}
.header__offers {
  padding: 0.5em 1em;
  color: #eeeeee;
  border-radius: 10px;
  text-decoration: none;
  background-color: #1089ff;
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  background-color: #23374d;
}
.info__text {
  position: relative;
}
.info__text::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  height: 5px;
  width: 110%;
  border-radius: 10px;
  background-color: #eeeeee;
  translate: -50% 0;
}

.about {
  text-align: center;
  background-color: #1089ff;
}
.about__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.about__card {
  padding: 2em 1em;
  width: 100%;
}
.about__card:nth-child(2) {
  background-color: #0b7ae8;
}
.about__card:nth-child(3) {
  background-color: #1473cf;
}
.about i {
  font-size: 4rem;
}
.about__text {
  margin-top: 2em;
}

.property {
  color: #292d32;
  background-color: #eeeeee;
}
.property__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 4em;
}
.property__card {
  width: 250px;
  text-align: center;
}
.property__bottom {
  padding: 0.5em 1em;
  background-color: #d9d9d9;
}
.property__meters {
  font-weight: bold;
  text-align: right;
}
.property__title {
  padding: 1em 2em;
}
.property__text {
  margin-bottom: 1em;
}
.property__top {
  position: relative;
  width: 250px;
  height: 150px;
  background-size: cover;
}
.property__top--one {
  background-image: url("../img/roomOne.jpg");
}
.property__top--two {
  background-image: url("../img/roomTwo.jpg");
}
.property__top--three {
  background-image: url("../img/roomThree.jpg");
}
.property__top::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 50, 0.5);
}
.property__status, .property__price {
  position: absolute;
  font-weight: bold;
  padding: 0.5em 1em;
  font-size: 1.2rem;
  color: #eeeeee;
  border-radius: 10px;
  z-index: 2;
}
.property__status {
  top: 8%;
  right: 8%;
  background-color: #1089ff;
}
.property__status--sold {
  background-color: #e91414;
}
.property__price {
  bottom: 8%;
  left: 8%;
  background-color: rgba(16, 137, 255, 0.8);
}

.house {
  background-color: #d6d6d6;
}
.house__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 4em;
}
.house__card {
  position: relative;
  height: 250px;
  width: 280px;
  background-size: cover;
}
.house__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 50, 0.5);
}
.house__card--one {
  background-image: url("../img/roomOne.jpg");
}
.house__card--two {
  background-image: url("../img/roomTwo.jpg");
}
.house__card--three {
  background-image: url("../img/roomThree.jpg");
}
.house__text-box {
  position: absolute;
  bottom: 5%;
  left: 5%;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}
.house__location {
  margin-bottom: 1em;
  padding: 0.5em 1em;
  border-radius: 10px;
  background-color: rgba(16, 137, 255, 0.8);
}

.workflow {
  background-color: #23374d;
}
.workflow .section-heading--title {
  color: #eeeeee;
}
.workflow__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 150px;
  margin-top: 6em;
  text-align: center;
}
.workflow__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.workflow__bloop {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
  background-color: #1089ff;
}
.workflow__bloop--one {
  border-radius: 30% 70% 70% 30%/30% 27% 73% 70%;
}
.workflow__bloop--two {
  border-radius: 60% 40% 80% 20%/14% 86% 14% 86%;
}
.workflow__bloop--three {
  border-radius: 89% 11% 92% 8%/38% 55% 45% 62%;
}
.workflow__bloop--four {
  border-radius: 33% 67% 76% 24%/100% 48% 52% 0%;
}
.workflow__bloop-text {
  font-size: 6.4rem;
  font-weight: bold;
}
.workflow__title {
  margin: 2em 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.workflow__text {
  width: 240px;
  font-size: 1.4rem;
}

.kingHouse {
  padding-bottom: 2em;
  color: #292d32;
  background-color: #eeeeee;
}
.kingHouse__photos {
  display: none;
}
.kingHouse__title, .kingHouse__text {
  text-align: center;
}
.kingHouse__title {
  padding: 4em 0;
  font-size: 1.8rem;
  font-weight: bold;
}
.kingHouse__text {
  padding: 0 0.8em;
}
.kingHouse__numbers {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  padding: 4em 0;
}
.kingHouse__num {
  font-size: 2.2rem;
  font-weight: bold;
  color: #1089ff;
}
.kingHouse__number-text {
  margin-left: 0.3em;
  font-weight: bold;
}

.references {
  padding-bottom: 6em;
  width: 100%;
  background-color: #d6d6d6;
}
.references__desktop {
  display: none;
}
.references .swiper {
  position: relative;
  margin-top: 6em;
  height: 180px;
  width: 280px;
}
.references .swiper-slide {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #292d32;
  background-color: #fff;
}
.references i {
  position: absolute;
  top: -10px;
  left: 2%;
  font-size: 4.2rem;
}
.references__text {
  margin-top: 3em;
  font-size: 1.2rem;
  text-align: center;
}
.references__textBox {
  display: flex;
  align-items: center;
  margin-top: 1em;
  width: 100%;
}
.references__name {
  margin-bottom: 1em;
}
.references__photos {
  height: 84px;
  width: 84px;
  scale: 0.8;
  background-size: cover;
}
.references__photos--one {
  background-image: url("../img/people1.jpg");
}
.references__photos--two {
  background-image: url("../img/people2.jpg");
}
.references__photos--three {
  background-image: url("../img/people3.jpg");
}

.middleman {
  padding-bottom: 6em;
  background-color: #e5e5e5;
}
.middleman__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 4em;
}
.middleman__card {
  position: relative;
  height: 380px;
  width: 300px;
}
.middleman__card::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 50, 0.5);
}
.middleman__card--one {
  background-image: url("../img/b1.jpg");
}
.middleman__card--two {
  background-image: url("../img/b2.jpg");
}
.middleman__card--three {
  background-image: url("../img/b3.jpg");
}
.middleman__name, .middleman__work {
  position: absolute;
  left: 50%;
  font-weight: bold;
  text-align: center;
  translate: -50% 0;
  z-index: 2;
}
.middleman__name {
  padding: 0.5em 1em;
  bottom: 15%;
  width: 160px;
  color: #292d32;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8);
}
.middleman__work {
  bottom: 5%;
  width: 100%;
}

.footer {
  text-align: center;
  background-color: #292d32;
}
.footer__box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}
.footer__title {
  font-size: 2.4rem;
  font-weight: bold;
}
.footer__text {
  margin-top: 2em;
  width: 250px;
}
.footer__social {
  display: flex;
  justify-content: center;
  gap: 45px;
  margin-top: 1.5em;
  font-size: 2.8rem;
}
.footer__social i {
  cursor: pointer;
  transition: color 0.3s, background-color 0.3s;
}
.footer__social i:nth-child(1):hover {
  color: #3b5998;
}
.footer__social i:nth-child(2):hover {
  color: #25d366;
}
.footer__social i:nth-child(3):hover {
  background: rgb(255, 220, 128);
  background: linear-gradient(49deg, rgb(255, 220, 128) 0%, rgb(193, 53, 132) 77%, rgb(64, 93, 230) 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer__society {
  margin-top: 4em;
}
.footer__society p {
  font-size: 2.4rem;
  font-weight: bold;
}
.footer__society-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer__society-box a {
  margin-top: 1em;
  color: #eeeeee;
  text-decoration: none;
  transition: color 0.3s;
}
.footer__society-box a:hover {
  color: #1089ff;
}
.footer__questions {
  margin-top: 4em;
}
.footer__questions p:nth-child(1) {
  font-size: 2.4rem;
  font-weight: bold;
}
.footer__locations {
  margin-top: 2em;
}
.footer__locations a {
  color: #eeeeee;
  text-decoration: none;
}
.footer__bottom-text {
  margin-top: 4em;
  font-weight: bold;
  font-size: 2.4rem;
}

.service .section-heading {
  margin-top: 3.5em;
}
.service .section-heading--title {
  color: #eeeeee;
}
.service__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
  margin-top: 4em;
}
.service__card {
  height: 320px;
  width: 90%;
  max-width: 300px;
  color: #292d32;
  background-color: #d9d9d9;
  overflow: hidden;
}
.service__card:hover .service__card-bottom {
  translate: 0 -25%;
}
.service__photo {
  position: relative;
  width: 100%;
  height: 180px;
  background-size: cover;
}
.service__photo--one {
  background-image: url("../img/service1.jpg");
}
.service__photo--two {
  background-image: url("../img/service1.jpg");
}
.service__photo--three {
  background-image: url("../img/service1.jpg");
}
.service__status {
  position: absolute;
  padding: 0.5em 1em;
  font-size: 1.4rem;
  background-color: #50c878;
}
.service__card-bottom {
  padding: 1em 2em;
  background-color: #d9d9d9;
  translate: 0 1%;
  transition: translate 0.3s;
}
.service__title {
  margin-bottom: 0.5em;
}
.service__location {
  margin-bottom: 0.5em;
}
.service__hidden {
  position: absolute;
  padding-top: 1em;
  color: #292d32;
  text-decoration: none;
}

.developer {
  color: #292d32;
  background-color: #d9d9d9;
}
.developer .section-heading--title {
  color: #292d32;
}
.developer__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 50px;
  margin-top: 6em;
}
.developer__card {
  width: 80%;
  text-align: center;
  background-color: #eeeeee;
}
.developer__card-left {
  position: relative;
  height: 150px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.developer__card-left::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(41, 45, 50, 0.5);
}
.developer__card-left--one {
  background-image: url("../img/houseSmall.jpg");
}
.developer__card-left--two {
  background-image: url("../img/houseSmall.jpg");
}
.developer__card-left--three {
  background-image: url("../img/houseSmall.jpg");
}
.developer__card-left--four {
  background-image: url("../img/houseSmall.jpg");
}
.developer__card-left--five {
  background-image: url("../img/houseSmall.jpg");
}
.developer__card-right {
  padding: 1em 2em;
}
.developer__card-title {
  margin: 0.5em 0;
  font-size: 1.6rem;
}
.developer__card-info {
  font-size: 1.4rem;
}
.developer__card-rooms {
  margin: 0.5em 0;
}

@media (min-width: 576px) {
  .nav {
    padding: 1em 2em;
  }
  .header__title {
    width: 45%;
  }
  .header__text {
    width: 65%;
  }
}
@media (min-width: 768px) {
  .nav__logo {
    font-size: 4rem;
  }
  .nav__menu {
    flex-direction: row;
    position: relative;
    top: 0;
    gap: 25px;
    height: 100%;
    width: 50%;
    translate: 0;
    background-color: transparent;
  }
  .nav__items {
    margin-top: 0;
    transition: color 0.3s, background-color 0.3s;
  }
  .nav__items:hover {
    color: #1089ff;
  }
  .nav__items--contact {
    padding: 0.5em 1em;
  }
  .nav__items--contact:hover {
    background-color: #eeeeee;
  }
  .nav__bars {
    display: none;
  }
  .header {
    background-image: url("../img/house1200.jpg");
  }
  .header__title {
    font-size: 6rem;
    width: 65%;
  }
  .header__text, .header__offers {
    font-size: 1.8rem;
  }
  .property__cards {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .house__cards {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .workflow__cards {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 100px;
  }
  .kingHouse {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  }
  .kingHouse__text {
    width: 500px;
  }
  .kingHouse__numbers {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 80px;
    width: 100%;
  }
  .middleman__cards {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .footer__box {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: baseline;
    gap: 25px;
  }
  .service__cards {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 35px;
  }
  .developer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .developer__cards {
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1400px;
  }
  .developer__card {
    max-width: 450px;
  }
  .developer__card-title {
    font-size: 1.8rem;
  }
  .developer__card-info {
    font-size: 1.6rem;
  }
}
@media (min-width: 992px) {
  .nav {
    padding: 0;
  }
  .nav__menu {
    width: 40%;
  }
  .header {
    background-position: 0 -250px;
  }
  .header__title {
    width: 600px;
  }
  .header__text {
    margin: 4em 0;
    width: 580px;
  }
  .header__offers {
    transition: color 0.3s, background-color 0.3s;
  }
  .header__offers:hover {
    color: #1089ff;
    background-color: #eeeeee;
  }
  .main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #1089ff;
  }
  .info {
    position: relative;
    margin-top: -4em;
    flex-direction: row;
    justify-content: space-around;
    max-width: 1400px;
    width: 80%;
    border-radius: 10px;
    z-index: 5;
  }
  .info__text::after {
    width: 100%;
  }
  .about__cards {
    flex-direction: row;
  }
  .about__card:nth-child(1) {
    position: relative;
  }
  .about__card:nth-child(1)::after {
    content: "";
    position: absolute;
    top: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1089ff;
    z-index: 1;
  }
  .about__card:nth-child(3) {
    position: relative;
  }
  .about__card:nth-child(3)::after {
    content: "";
    position: absolute;
    top: -50%;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: #1473cf;
    z-index: 1;
  }
  .about__title,
  .about i {
    position: relative;
    z-index: 5;
  }
  .property {
    width: 100%;
  }
  .property__card {
    width: 350px;
  }
  .property__top {
    height: 200px;
    width: 350px;
  }
  .house {
    width: 100%;
  }
  .house__card {
    height: 350px;
    width: 380px;
  }
  .workflow {
    width: 100%;
  }
  .workflow__title {
    font-size: 2rem;
  }
  .kingHouse {
    flex-wrap: wrap;
    flex-direction: row;
  }
  .kingHouse__textBox {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .kingHouse__title {
    padding: 1em 0;
    font-size: 4.8rem;
    font-weight: normal;
  }
  .kingHouse__text {
    text-align: center;
    margin-bottom: 2em;
  }
  .kingHouse__photos {
    display: flex;
    align-self: flex-start;
    order: 2;
  }
  .kingHouse__photo {
    width: 260px;
    height: 450px;
    background-size: cover;
  }
  .kingHouse__photo--one {
    background-image: url("../img/photoOne.png");
  }
  .kingHouse__photo--two {
    margin-left: 1em;
    background-image: url("../img/photoTwo.png");
  }
  .kingHouse__numbers {
    order: 3;
  }
  .references .swiper {
    display: none;
  }
  .references__desktop {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
  }
  .references__desktop-card {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    height: 240px;
    width: 380px;
    color: #292d32;
    background-color: #fff;
    box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.75);
  }
  .references__desktop-text {
    margin-top: 3.2em;
    text-align: center;
  }
  .references__desktop-box {
    display: flex;
    align-self: flex-start;
    margin-top: 2em;
    margin-left: 1.2em;
  }
  .references__desktop-textBox {
    display: flex;
    align-self: flex-start;
    align-items: center;
    flex-direction: column;
  }
  .references i {
    font-size: 4.8rem;
  }
  .middleman {
    width: 100%;
  }
  .footer__box {
    gap: 150px;
  }
  .service__cards {
    gap: 50px;
  }
  .service__card {
    max-width: 350px;
  }
  .service__photo {
    background-position: center;
  }
  .service__hidden {
    transition: color 0.3s;
  }
  .service__hidden:hover {
    color: #1089ff;
  }
}
@media (min-width: 1100px) {
  .kingHouse__title, .kingHouse__text {
    text-align: left;
  }
  .kingHouse__title {
    align-self: flex-start;
    width: 400px;
  }
  .kingHouse__text {
    padding: 0;
  }
  .kingHouse__photos {
    margin-left: 4em;
  }
  .footer__box {
    gap: 450px;
  }
}/*# sourceMappingURL=main.css.map */