@use 'colors' as c;

.nav__wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	left: 50%;
	translate: -50% 0;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	z-index: 2;
}

.padding {
	padding: 5em 0;
}

.money-color{
	color: c.$green;
}

.section-heading{
	text-align: center;

	&--title{
		font-size: 2.4rem;
		color: c.$black;
	}

	&--text{
		margin-bottom: 1em;
		font-size: 1.6rem;
		color: c.$blue;
	}
}