@use 'colors' as c;

.unlocked {
	overflow: visible;
}

.locked {
	overflow: hidden;
	overflow-y: hidden;
	overflow-x: hidden;
}

.nav__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	left: 50%;
}

.wrapper {
	margin: 0 auto;
	max-width: 1400px;
	width: 100%;
	z-index: 2;
}

.padding {
	padding: 5em 0;
}

.ml {
	margin-left: 0.3em;
}

.name {
	font-weight: bold;
}

.money-color {
	color: c.$green;
}

.section-heading {
	text-align: center;

	&--title {
		font-size: 2.4rem;
		color: c.$black;
	}

	&--text {
		margin-bottom: 1em;
		font-size: 1.6rem;
		color: c.$blue;
	}
}
