@use 'colors' as c;
@use 'components' as *;

*,
*::after,
*::before {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', sans-serif;
	font-size: 1.6rem;
	color: c.$white;
	background-color: c.$white;
}

.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 0.5em;
	position: fixed;
	top: 0;
	height: 60px;
	width: 100%;
	transition: background-color 0.3s;
	z-index: 100;

	&__logo {
		font-size: 2.8rem;
		font-weight: bold;
		text-decoration: none;
		color: c.$white;
		z-index: 5;
	}

	&__menu {
		display: flex;
		justify-content: space-evenly;
		align-items: center;
		flex-direction: column;
		position: absolute;
		top: 0;
		left: 0;
		height: 100vh;
		width: 100%;
		background-color: c.$darkblue;
		translate: -100% 0;
		transition: translate 0.3s;

		&--active {
			translate: 0;
		}
	}

	&__items {
		margin-top: 2.5em;
		text-align: center;
		text-decoration: none;
		color: c.$white;

		&--contact {
			padding: 1em 2em;
			border-radius: 10px;
			background-color: c.$blue;
		}
	}

	&__bars {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 5px;
		height: 50px;
		width: 50px;

		&--active {
			.nav__line:nth-child(1) {
				rotate: -45deg;
				translate: 0 8px;
			}
			.nav__line:nth-child(2) {
				opacity: 0;
			}
			.nav__line:nth-child(3) {
				rotate: 45deg;
				translate: 0 -8px;
			}
		}
	}

	&__line {
		height: 3px;
		width: 30px;
		border-radius: 10px;
		background-color: c.$white;
		transition: rotate 0.3s, translate 0.3s 0.1s, opacity 0.3s;
	}

	&__dark {
		background-color: c.$heroService !important;
	}
}

.header {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;
	gap: 45px;
	padding: 0 1em;
	height: 85vh;
	position: relative;
	background-image: url('../img/houseSmall.jpg');
	background-size: cover;
	background-position: center;
	z-index: 5;

	&::after {
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		background-color: c.$heroOne;
	}

	&__title {
		margin-top: 1.2em;
		font-weight: normal;
	}

	&__text {
		margin: 2em 0;
		width: 95%;
	}

	&__offers {
		padding: 0.5em 1em;
		color: c.$white;
		border-radius: 10px;
		text-decoration: none;
		background-color: c.$blue;
	}
}

.info {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 50px;
	background-color: c.$darkblue;

	&__text {
		position: relative;

		&::after {
			content: '';
			position: absolute;
			bottom: -10px;
			left: 50%;
			height: 5px;
			width: 110%;
			border-radius: 10px;
			background-color: c.$white;
			translate: -50% 0;
		}
	}
}

.about {
	text-align: center;
	background-color: c.$blue;

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__card {
		padding: 2em 1em;
		width: 100%;
	}

	&__card:nth-child(2) {
		background-color: c.$darkOne;
	}

	&__card:nth-child(3) {
		background-color: c.$darkTwo;
	}

	i {
		font-size: 4rem;
	}

	&__text {
		margin-top: 2em;
	}
}

.property {
	color: c.$black;
	background-color: c.$white;

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;
		margin-top: 4em;
	}

	&__card {
		width: 250px;
		text-align: center;
	}

	&__bottom {
		padding: 0.5em 1em;
		background-color: c.$gray;
	}

	&__meters {
		font-weight: bold;
		text-align: right;
	}

	&__title {
		padding: 1em 2em;
	}

	&__text {
		margin-bottom: 1em;
	}

	&__top {
		position: relative;
		width: 250px;
		height: 150px;
		background-size: cover;

		&--one {
			background-image: url('../img/roomOne.jpg');
		}

		&--two {
			background-image: url('../img/roomTwo.jpg');
		}

		&--three {
			background-image: url('../img/roomThree.jpg');
		}

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: c.$heroTwo;
		}
	}

	&__status,
	&__price {
		position: absolute;
		font-weight: bold;
		padding: 0.5em 1em;
		font-size: 1.2rem;
		color: c.$white;
		border-radius: 10px;
		z-index: 2;
	}

	&__status {
		top: 8%;
		right: 8%;
		background-color: c.$blue;

		&--sold {
			background-color: c.$red;
		}
	}

	&__price {
		bottom: 8%;
		left: 8%;
		background-color: c.$heroBlue;
	}
}

.house {
	background-color: c.$grayTwo;

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;
		margin-top: 4em;
	}

	&__card {
		position: relative;
		height: 250px;
		width: 280px;
		background-size: cover;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: c.$heroTwo;
		}

		&--one {
			background-image: url('../img/roomOne.jpg');
		}

		&--two {
			background-image: url('../img/roomTwo.jpg');
		}

		&--three {
			background-image: url('../img/roomThree.jpg');
		}
	}

	&__text-box {
		position: absolute;
		bottom: 5%;
		left: 5%;
		font-size: 1.2rem;
		font-weight: bold;
		text-align: center;
		z-index: 1;
	}

	&__location {
		margin-bottom: 1em;
		padding: 0.5em 1em;
		border-radius: 10px;
		background-color: c.$heroBlue;
	}
}

.workflow {
	background-color: c.$darkblue;

	.section-heading {
		&--title {
			color: c.$white;
		}
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 150px;
		margin-top: 6em;
		text-align: center;
	}

	&__card {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	&__bloop {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 150px;
		width: 150px;
		background-color: c.$blue;

		&--one {
			border-radius: 30% 70% 70% 30% / 30% 27% 73% 70%;
		}

		&--two {
			border-radius: 60% 40% 80% 20% / 14% 86% 14% 86%;
		}

		&--three {
			border-radius: 89% 11% 92% 8% / 38% 55% 45% 62%;
		}

		&--four {
			border-radius: 33% 67% 76% 24% / 100% 48% 52% 0%;
		}
	}

	&__bloop-text {
		font-size: 6.4rem;
		font-weight: bold;
	}

	&__title {
		margin: 2em 0;
		font-size: 1.8rem;
		font-weight: bold;
	}

	&__text {
		width: 240px;
		font-size: 1.4rem;
	}
}

.kingHouse {
	padding-bottom: 2em;
	color: c.$black;
	background-color: c.$white;

	&__photos {
		display: none;
	}

	&__title,
	&__text {
		text-align: center;
	}

	&__title {
		padding: 4em 0;
		font-size: 1.8rem;
		font-weight: bold;
	}

	&__text {
		padding: 0 0.8em;
	}

	&__numbers {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 80px;
		padding: 4em 0;
	}

	&__num {
		font-size: 2.2rem;
		font-weight: bold;
		color: c.$blue;
	}

	&__number-text {
		margin-left: 0.3em;
		font-weight: bold;
	}
}

.references {
	padding-bottom: 6em;
	width: 100%;
	background-color: c.$grayTwo;

	&__desktop {
		display: none;
	}

	.swiper {
		position: relative;
		margin-top: 6em;
		height: 180px;
		width: 280px;

		&-slide {
			display: flex;
			flex-direction: column;
			align-items: center;
			color: c.$black;
			background-color: c.$wwhite;
		}
	}

	i {
		position: absolute;
		top: -10px;
		left: 2%;
		font-size: 4.2rem;
	}

	&__text {
		margin-top: 3em;
		font-size: 1.2rem;
		text-align: center;
	}

	&__textBox {
		display: flex;
		align-items: center;
		margin-top: 1em;
		width: 100%;
	}

	&__name {
		margin-bottom: 1em;
	}

	&__photos {
		height: 84px;
		width: 84px;
		scale: 0.8;
		background-size: cover;

		&--one {
			background-image: url('../img/people1.jpg');
		}

		&--two {
			background-image: url('../img/people2.jpg');
		}

		&--three {
			background-image: url('../img/people3.jpg');
		}
	}
}

.middleman {
	padding-bottom: 6em;
	background-color: c.$lightWhite;

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;
		margin-top: 4em;
	}

	&__card {
		position: relative;
		height: 380px;
		width: 300px;

		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: c.$heroTwo;
		}

		&--one {
			background-image: url('../img/b1.jpg');
		}

		&--two {
			background-image: url('../img/b2.jpg');
		}

		&--three {
			background-image: url('../img/b3.jpg');
		}
	}

	&__name,
	&__work {
		position: absolute;
		left: 50%;
		font-weight: bold;
		text-align: center;
		translate: -50% 0;
		z-index: 2;
	}

	&__name {
		padding: 0.5em 1em;
		bottom: 15%;
		width: 160px;
		color: c.$black;
		border-radius: 10px;
		background-color: c.$heroWhite;
	}

	&__work {
		bottom: 5%;
		width: 100%;
	}
}

.footer {
	text-align: center;
	background-color: c.$black;

	&__box {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 25px;
	}

	&__title {
		font-size: 2.4rem;
		font-weight: bold;
	}

	&__text {
		margin-top: 2em;
		width: 250px;
	}

	&__social {
		display: flex;
		justify-content: center;
		gap: 45px;
		margin-top: 1.5em;
		font-size: 2.8rem;

		i {
			cursor: pointer;
			transition: color 0.3s, background-color 0.3s;
		}

		i:nth-child(1):hover {
			color: #3b5998;
		}

		i:nth-child(2):hover {
			color: #25d366;
		}

		i:nth-child(3):hover {
			background: rgb(255, 220, 128);
			background: linear-gradient(
				49deg,
				rgba(255, 220, 128, 1) 0%,
				rgba(193, 53, 132, 1) 77%,
				rgba(64, 93, 230, 1) 100%
			);
			background-clip: text;
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
		}
	}

	&__society {
		margin-top: 4em;

		p {
			font-size: 2.4rem;
			font-weight: bold;
		}

		&-box {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;

			a {
				margin-top: 1em;
				color: c.$white;
				text-decoration: none;
				transition: color 0.3s;

				&:hover {
					color: c.$blue;
				}
			}
		}
	}

	&__questions {
		margin-top: 4em;

		p:nth-child(1) {
			font-size: 2.4rem;
			font-weight: bold;
		}
	}

	&__locations {
		margin-top: 2em;

		a {
			color: c.$white;
			text-decoration: none;
		}
	}

	&__bottom-text {
		margin-top: 4em;
		font-weight: bold;
		font-size: 2.4rem;
	}
}

//?=========
//?OFFERS
//?=========
.service {
	background-color: c.$gray;
	
	.section-heading {
		margin-top: 3.5em;
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 80px;
		margin-top: 4em;
	}

	&__card {
		height: 320px;
		width: 90%;
		max-width: 300px;
		color: c.$black;
		background-color: c.$wwhite;
		overflow: hidden;

		&:hover {
			.service__card-bottom {
				translate: 0 -25%;
			}
		}
	}

	&__photo {
		position: relative;
		width: 100%;
		height: 180px;
		background-size: cover;

		&--one {
			background-image: url('../img/service1.jpg');
		}

		&--two {
			background-image: url('../img/service1.jpg');
		}

		&--three {
			background-image: url('../img/service1.jpg');
		}
	}

	&__status {
		position: absolute;
		padding: 0.5em 1em;
		font-size: 1.4rem;
		background-color: c.$green;
	}

	&__card-bottom {
		padding: 1em 2em;
		background-color: c.$wwhite;
		translate: 0 1%;
		transition: translate 0.3s;
	}

	&__title {
		margin-bottom: 0.5em;
	}

	&__location {
		margin-bottom: 0.5em;
	}

	&__hidden {
		position: absolute;
		padding-top: 1em;
		color: c.$black;
		text-decoration: none;
	}
}

.developer {
	color: c.$black;

	.section-heading {
		&--title {
			color: c.$black;
		}
	}

	&__cards {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 50px;
		margin-top: 6em;
	}

	&__card {
		width: 80%;
		text-align: center;
		background-color: c.$gray;
	}

	&__card-left {
		position: relative;
		height: 150px;
		width: 100%;
		background-position: center;
		background-size: cover;

		&::after {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background-color: c.$heroTwo;
		}

		&--one {
			background-image: url('../img/houseSmall.jpg');
		}

		&--two {
			background-image: url('../img/houseSmall.jpg');
		}

		&--three {
			background-image: url('../img/houseSmall.jpg');
		}
		&--four {
			background-image: url('../img/houseSmall.jpg');
		}

		&--five {
			background-image: url('../img/houseSmall.jpg');
		}
	}

	&__card-right {
		padding: 1em 2em;
	}

	&__card-title {
		margin: 0.5em 0;
		font-size: 1.6rem;
	}

	&__card-info {
		font-size: 1.4rem;
	}

	&__card-rooms {
		margin: 0.5em 0;
	}
}

@media (min-width: 576px) {
	.nav {
		padding: 1em 2em;
	}

	.header {
		&__title {
			width: 45%;
		}

		&__text {
			width: 65%;
		}
	}
}

@media (min-width: 768px) {
	.nav {
		&__logo {
			font-size: 4rem;
		}

		&__menu {
			flex-direction: row;
			position: relative;
			top: 0;
			gap: 25px;
			height: 100%;
			width: 50%;
			translate: 0;
			background-color: transparent;
		}

		&__items {
			margin-top: 0;
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				color: c.$blue;
			}

			&--contact {
				padding: 0.5em 1em;

				&:hover {
					background-color: c.$white;
				}
			}
		}

		&__bars {
			display: none;
		}
	}

	.header {
		background-image: url('../img/house1200.jpg');

		&__title {
			font-size: 6rem;
			width: 65%;
		}

		&__text,
		&__offers {
			font-size: 1.8rem;
		}
	}

	.property {
		&__cards {
			flex-wrap: wrap;
			flex-direction: row;
		}
	}

	.house {
		&__cards {
			flex-wrap: wrap;
			flex-direction: row;
		}
	}

	.workflow {
		&__cards {
			flex-wrap: wrap;
			flex-direction: row;
			gap: 100px;
		}
	}

	.kingHouse {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		width: 100%;

		&__text {
			width: 500px;
		}

		&__numbers {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 80px;
			width: 100%;
		}
	}

	.middleman {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
		}
	}

	.footer {
		&__box {
			flex-direction: row;
			flex-wrap: wrap;
			align-items: baseline;
			gap: 25px;
		}
	}

	//?=========
	//?OFFERS
	//?=========
	.service {
		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
			gap: 35px;
		}
	}

	.developer {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;

		&__cards {
			flex-direction: row;
			flex-wrap: wrap;
			max-width: 1400px;
		}

		&__card {
			max-width: 450px;
		}

		&__card-title {
			font-size: 1.8rem;
		}

		&__card-info {
			font-size: 1.6rem;
		}
	}
}

@media (min-width: 992px) {
	.nav {
		padding: 0;

		&__menu {
			width: 40%;
		}
	}

	.header {
		background-position: 0 -250px;

		&__title {
			width: 600px;
		}

		&__text {
			margin: 4em 0;
			width: 580px;
		}

		&__offers {
			transition: color 0.3s, background-color 0.3s;

			&:hover {
				color: c.$blue;
				background-color: c.$white;
			}
		}
	}

	.main {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		background-color: c.$blue;
	}

	.info {
		position: relative;
		margin-top: -4em;
		flex-direction: row;
		justify-content: space-around;
		max-width: 1400px;
		width: 80%;
		border-radius: 10px;
		z-index: 5;

		&__text {
			&::after {
				width: 100%;
			}
		}
	}

	.about {
		&__cards {
			flex-direction: row;
		}

		&__card:nth-child(1) {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: -50%;
				left: 0;
				width: 100%;
				height: 100%;
				background-color: c.$blue;
				z-index: 1;
			}
		}

		&__card:nth-child(3) {
			position: relative;

			&::after {
				content: '';
				position: absolute;
				top: -50%;
				right: 0;
				width: 100%;
				height: 100%;
				background-color: c.$darkTwo;
				z-index: 1;
			}
		}

		&__title,
		i {
			position: relative;
			z-index: 5;
		}
	}

	.property {
		width: 100%;

		&__card {
			width: 350px;
		}

		&__top {
			height: 200px;
			width: 350px;
		}
	}

	.house {
		width: 100%;

		&__card {
			height: 350px;
			width: 380px;
		}
	}

	.workflow {
		width: 100%;

		&__title {
			font-size: 2rem;
		}
	}

	.kingHouse {
		flex-wrap: wrap;
		flex-direction: row;

		&__textBox {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
		}

		&__title {
			padding: 1em 0;
			font-size: 4.8rem;
			font-weight: normal;
		}

		&__text {
			text-align: center;
			margin-bottom: 2em;
		}

		&__photos {
			display: flex;
			align-self: flex-start;
			order: 2;
		}

		&__photo {
			width: 260px;
			height: 450px;
			background-size: cover;

			&--one {
				background-image: url('../img/photoOne.png');
			}

			&--two {
				margin-left: 1em;
				background-image: url('../img/photoTwo.png');
			}
		}

		&__numbers {
			order: 3;
		}
	}

	.references {
		.swiper {
			display: none;
		}

		&__desktop {
			display: flex;
			justify-content: center;
			align-items: center;
			flex-wrap: wrap;
			gap: 50px;

			&-card {
				display: flex;
				justify-content: center;
				align-items: center;
				flex-direction: column;
				position: relative;
				height: 240px;
				width: 380px;
				color: c.$black;
				background-color: c.$wwhite;
				box-shadow: 6px 6px 10px 0px rgba(0, 0, 0, 0.75);
			}

			&-text {
				margin-top: 3.2em;
				text-align: center;
			}

			&-box {
				display: flex;
				align-self: flex-start;
				margin-top: 2em;
				margin-left: 1.2em;
			}

			&-textBox {
				display: flex;
				align-self: flex-start;
				align-items: center;
				flex-direction: column;
			}
		}

		i {
			font-size: 4.8rem;
		}
	}

	.middleman {
		width: 100%;
	}

	.footer {
		&__box {
			gap: 150px;
		}
	}

	//?=========
	//?OFFERS
	//?=========
	.service {
		&__cards {
			gap: 50px;
		}

		&__card {
			max-width: 350px;
		}

		&__photo {
			background-position: center;
		}

		&__hidden {
			transition: color 0.3s;

			&:hover {
				color: c.$blue;
			}
		}
	}
}

@media (min-width: 1100px) {
	.kingHouse {
		&__title,
		&__text {
			text-align: left;
		}

		&__title {
			align-self: flex-start;
			width: 400px;
		}

		&__text {
			padding: 0;
		}

		&__photos {
			margin-left: 4em;
		}
	}

	.footer {
		&__box {
			gap: 450px;
		}
	}
}
